.products {
  text-align: center;
  h5 {
    font-size: 15px;
    color: rgb(175, 174, 174);
  }
  h1 {
    font-size: 45px;

    color: black;
  }
  p {
    color: rgb(87, 87, 87);
  }
}
.icons {
  position: relative;
  left: 85px;
  display: flex;

  gap: 35px;
}
.icon {
  display: flex;
  gap: 15px;
}
.icon2 {
  display: flex;
  gap: 15px;
}
.container2 {
  text-align: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.btns {
  display: flex;
  gap: 10px;
  position: relative;
  left: 95px;
}
